authentication/https/manifest.json text eol=lf
authentication/https/manifest.tampered.json text eol=lf
authentication/https/manifest.json.minisig text eol=lf
authentication/https/minisign.pub text eol=lf
